<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Document</title>
  </head>
  <body>
    <form action="/details" method="POST">
      <input
        style="font-size: 30px"
        type="text"
        id="name"
        name="zip"
        class="form-control"
        placeholder="Enter mail number"
      />
      <button type="submit" class="button" id="submit">submit</button>
    </form>
  </body>
</html>
